#doctors{
  margin-bottom: 50px;
}
.best-doctors{
  padding: 20px;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.bg-color1{
  background-color:rgb(213, 226, 226);
}
.bg-color1{
  height: 270px;
  width: 260px;
  padding: 10px;
}
.bg-color1 img{
  height: 100px;
  width: 110px;
}
h1{
  text-align: center;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  flex: 1;
  font-size: 24px;
}
.footer{
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: center;
  margin-left: 100px;
}
.footer-section {
  flex: 1 1 200px; 
  min-width: 200px;
}
.footer-section ul {
  list-style-type: none;
  padding: 0; 
}

.footer-section ul li {
  margin-bottom: 10px; 
}

.footer-section ul li a {
  text-decoration: none;
  color: #181717;
}
#socials{
  cursor: pointer;
  align-items: center;
  flex-wrap: wrap;
  display:flex;
}
.copyright{
  text-align: center;
  background-color:gainsboro;
  width: 100%
}
.logo-image{
  height: 50px;
  width: 50px;
}